*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}
/*area do cabeçalho*/
header {
    min-height: 700px; /* Use min-height em vez de height */
    border: 1px solid black;
    background-image: url(../img/morango-respingo-com-leite-ou-iogurte.png);
    background-repeat: no-repeat;
    background-color: #F3C2C6;
    color: #fff;
}

.cabeca {
    border: 1px solid black;
    justify-content: space-around;
    display: flex;
    padding: 30px;
}

.logo {
    font-weight: bold;
    font-size: 30px;
    border: 1px solid black;
    display: flex;
    align-items: center;
}

#menu_desktop {
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

#menu_desktop a {
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.barra {
    background-color: aliceblue;
    width: 50px;
    height: 12px;
    margin: 4px;
}

.icone{

    height: 50px;
    width: 50px;
    cursor: pointer;
    display: none;
}
.para-baixo{
    background-color:#F3C2C6;
   
    width: 100%;
    display: none;
}
.para-baixo a {
    padding: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.destaque {
    background-color: #FF0000;
    border-radius: 10px;
}


.descricao h3{
    border: 1px solid black;
    position: relative;
    font-size: 60px;
    top:300px;
    text-align:right;
}


/*area do carrosel*/
div .container-morango{
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.carousel-inner{
    height: 600px;
    width: 300px;
    
}






