*{
    margin: 0;
    padding: 0;
}

header{
    
    height: 600px;
    border: 1px solid black;
    background-image: url(../img/morango-respingo-com-leite-ou-iogurte.png);
    background-size: cover;
    background-position: left center; 
    background-size: 50%;
    background-repeat: no-repeat;
    background-color: #F3C2C6;
}

.cabeca{
    justify-content: space-around;
    display: flex;
}

.logo{
    font-weight: bold;
    border: 1px solid black;
}

#menu{
    border: 1px solid black;
}
#menu a{
    text-decoration: none;
    padding: 10px;
}

.descricao{
    border: 1px solid black;
    position: relative;
    top:400px;
    left: 60px;
    font-size: 40px;
    text-align:center;
}







