*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}
/*area do cabeçalho*/
header {
    min-height: 700px; /* Use min-height em vez de height */
    background-image: url(../img/morango-respingo-com-leite-ou-iogurte.png);
    background-repeat: no-repeat;
    background-color: #F3C2C6;
    color: #fff;
    /*background-size: contain; 
    background-position: center; */
}

.cabeca {
    justify-content: space-around;
    display: flex;
    padding: 30px;
}

.logo {
    font-weight: bold;
    font-size: 30px;
    display: flex;
    align-items: center;
}

#menu_desktop {
    display: flex;
    justify-content: center;
}

#menu_desktop a {
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.barra {
    background-color: aliceblue;
    width: 50px;
    height: 12px;
    margin-top: 5px;
    border-radius: 5px;
    
}

.icone{

    height: 50px;
    width: 50px;
    cursor: pointer;
    display: none;
    
}
.para-baixo{
    background-color:#ff6b81;
    padding-left: 10px;
    position:absolute;
    display: none;
    top: 100px;
    right: 20px;
    z-index: 1;
    height: 300px;
    max-width: 300px;
    float:left;
    border-radius: 10px;
    opacity: 0.6;
    
}
.para-baixo a {
    color: #fff;
    margin-top: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    width: 150px;
    text-align: center;
}

.destaque {
    background-color: #FF0000;
    border-radius: 10px;
}


.descricao h3{
    position: relative;
    font-size: 60px;
    top:300px;
    text-align:center;
}

.descricao{
    position: absolute;
    text-align:center;
    left: 500px;
}


/*area do carrosel*/
div .container-morango{
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.carousel-inner{
    height: 600px;
    width: 300px;
}

/*Area social e footer*/
.rede-sociais{
    background-color: #FC9DBF;
    height: 300px;
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sociais{
    padding: 60px;
}
.img-sociais{
    width: 70px;
}
footer{
    background-color:#2D3436;
    height: 70px;
}
footer p{
    color: #fff;
    text-align: center;
    padding: 20px;
}

/*Area dos Produtos*/

.produtos{
    /*border: 2px solid black;*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
}
.caixa-produtos{
    /* border: 2px solid black;*/

     display:flex;
     flex-direction: column;
     justify-content:center;
     padding: 10px;
 }

 .caixa-imagem{
    height: auto;
    width: 250px;
    display: flex;
    align-items: center; 
}

.icone_produto{
    border-radius: 10px;
    height: auto;
    width: 100%;
}

.caixa-texto{
    text-align:center;
}

.caixa-texto p{
    text-align:center;
     margin-bottom: 15px;
     font-weight: bold;
     font-size: 18px;
     color: #7C7A7A;
 }


